* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

#wrap {
    width: 100%;

}

#nav {
    position: fixed;
    padding: 10px;
    width: 200px;
    height: 100vh;
    background-color: #484cc9;
    color: #fff;
    z-index: 5;
    transition: all 1s;
    transform: translateX(-145px);
}

#nav:hover {
    transform: translate(0px);
}

#nav ul {
    width: 100%;
    padding: 0;
}

#nav ul li {
    align-items: center;
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 10px;
    display: flex;
    position: relative;
}

#nav ul li i {
    position: absolute;
    right: 10px;
    font-size: 20px;
    transition: all 1s;
}

#nav:hover i {
    right: 80%;
    transition: all 1s;
}

#nav ul li p {
    position: relative;
    left: 30px;
    font-size: 20px;
    padding-left: 10px;
    margin: 0;
    transform: translateX(-250px);
    transition: all 1s;
}

#nav:hover p {
    transform: translateX(0px);
    transition: all 1s;
}


#main {
    float: right;
    width: calc(100% - 55px);
    height: auto;
    position: relative;
}

#header {
    position: fixed;
    width: calc(100% - 55px);
    height: 60px;
    background-color: #fff;
    z-index: 1;
}

.search {
    display: inline-block;
    align-items: center;
    line-height: 60px;
    padding: 10px;
    width: 35%;
    transition: all 1s;
}

.search:hover {
    width: 50%;
    transition: all 1s;
}

.profile {
    float: right;
    display: flex;
    align-items: center;
    padding-right: 20px;
    font-size: 20px;
    line-height: 60px;
}

.profile i {
    margin-right: 30px;
}

.profile p {
    font-size: 16px;
    color: #999;
    margin: 0;
    padding-right: 10px;
}

#content {
    position: absolute;
    top: 60px;
    width: 100%;
    height: auto;
    background-color: #eee;
}
.card_container {
    width: 100%;
    padding: 20px;
    /* background-color: #999; */
}
.card_container h3 {
    font-weight: bolder;
}
.row {
    text-align: center;
}
.card {
    padding: 30px;
    border-radius: 10px;
    text-align-last: left;
    position: relative;

}
.card h5 {
    margin-top: 10px;
    font-weight: bold;
}
.card i {
    position: absolute;
    top: 50px;
    right: 20px;
    font-size: 30px;
}
.card.lightblue {
    border-left: 5px solid rgb(146, 195, 250);
}
.card.green {
    border-left: 5px solid green;
}
.card.blue {
    border-left: 5px solid rgb(0, 0, 185);
}
.card.yellow {
    border-left: 5px solid rgb(255, 200, 0);
}

.chart_container {
    width: 100%;
    padding: 20px;
}
.chart {
    border-radius: 5px;
    padding: 20px;
    text-align: left;
    background-color: #eee;
}
.chart_body {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    margin: 0;
    background-color: #fff;
}

.tasks {
    border-radius: 5px;
    padding: 20px;
    
}

#footer {
    width: 100%;
    height: auto;
    /* background-color: #333; */
    color: #000;
    font-size: 12px;
    text-align: center;
}

@media screen and (max-width : 578px) {
    .profile i {
        margin-right: 20px;
        font-size: 16px;
    }
    .profile p {
        font-size: 14px;
    }
}